<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos a Agregar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="bg-black text-white m-5">
  <h1 class="text-center h1 text-warning">PRODUCTOS</h1>
  <div class="row">
    <div class="container text-center col">
      <div class="row">
      {{#each prod}}
      <div class="mx-auto card col-3 m-3 bg-dark text-white" style="width: 18rem;">
        <h5 class="card-title">{{this.nombre}}</h5>
        <img src={{this.foto}} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{this.descripcion}}</p>
          <b class="card-text">${{this.precio}}</b>
          <p class="card-text">STOCK: {{this.stock}}</p>
          <p class="card-text">CÓDIGO: {{this.codigo}} - ID: {{id}}</p>
          <p class="card-text">Subido el: {{this.timestamp}}</p>
          <a href="#" class="btn btn-primary bg-success">ACTUALIZAR</a>
          <a href="#" class="btn btn-primary bg-danger">ELIMINAR</a>
        </div>
      </div>
      {{/each}}
      </div>
        <form action="http://localhost:8080/carrito" method="post">
        <button type="submit" class="btn btn-primary">Crear Carrito</button>
      </form>
    </div>
    <div class="col-3">
      <form class="form-control bg-dark" action="http://localhost:8080/productos" method="post">
        <input class="form-control mx-auto mb-3" name="nombre" id="nombre" required="true" type="text" placeholder="Nombre del Producto">
        <input class="form-control mx-auto mb-3" name="codigo" id="codigo" required="true" type="text" placeholder="Código del Producto">
        <input class="form-control mx-auto mb-3" name="descripcion" id="descripcion" required="true" type="text" placeholder="Descripción del Producto">
        <input class="form-control mx-auto mb-3" name="precio" id="precio" required="true" type="number" placeholder="Precio">
        <input class="form-control mx-auto mb-3" name="foto" id="foto" required="true" type="url" placeholder="URL de la Foto">
        <input class="form-control mx-auto mb-3" name="stock" id="stock" required="true" type="number" placeholder="Stock">
        <input type="submit" value="ENVIAR" class="btn btn-primary">
      </form>
    </div>
  </div>
</body>
</html>